body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    background-image: url(2back.jpg);
}

.landing, .second_page {
    background-image: url('main backround.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.imageguru {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.second {
    margin-top: 0;
    color: #1679AB;
    font-size: 2.5rem;
    text-align: center;
}

.Tribute {
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 600px) {
    .second {
        font-size: 1.5rem;
    }
    .Tribute {
        font-size: 1.2rem;
    }
}

.desc {
    margin-top: 0%;
    font-size: 30px;
    color: #1679AB;
    text-align: left;
}

.third_page {
    background-image: url('main backround.png');
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 2px solid #1679AB;
    width: 150px;
    border-radius: 12px;
    height: 60px;
    background-color: #F7418F;
    margin-bottom: 10px;
    line-height: 60px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}
.ending {
    background-image: url(main\ backround.png);
}
.albums {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 20px; /* Add padding to avoid overlap */
    margin-left: 120px; /* Add margin to separate from other sections */
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    border: 3px solid;

}
.footer {
    background-color:#E178C5;
    height: 120px;
}
